.body {
  margin-top: 60px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

#learning_box {
  text-align: center;
  padding: 10px 0 30px 0;
}

#email_box {
  text-align: center;
  padding: 10px 0 30px 0;
}

.success {
  background-color: #46a546;
  border-radius: 6px;
}

.fail {
  background-color: rgb(220, 40, 70);
  border-radius: 6px;
}
