{% raw %}
<!doctype html>
<html lang="en">
<head>
  <link href="../static/css/redmond/jquery-ui-1.10.3.custom.css" rel="stylesheet">
  <script src="../static/js/lib/jquery-1.10.1.min.js"></script>
  <script src="../static/js/lib/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="../static/js/lib/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="../static/js/app.js"></script>
</head>
<body>
  <h1>Is the server running?????</h1>
  <h2>learning server?</h2>
  <div id="learning_server_status"></div>
</body>
</html>
{% endraw %}
