{% raw %}
<!doctype html>
<html lang="en">
<head>
  <script src="../static/js/lib/jquery-1.10.1.min.js"></script>
  <script src="../static/js/app.js"></script>
  <link href="../static/css/style.css" rel="stylesheet"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="title">
    <h1>Is the server running?????</h1>
  </div>
  <div id="learning_box">
    <h2>learning server?</h2>
    <div id="learning_server_status"></div>
  </div>
  <div id="email_box">
    <h2>email service?</h2>
    <div id="email_server_status"></div>
  </div>
</body>
</html>
{% endraw %}
